:root {
  --font-main: 'Inter', -apple-system, sans-serif;
  --fz-sm: 0.75rem;

  --primary-color: #252F4A;
  --secondary-color: #99A1B7;
  --blue-color: hsl(212 100 55);

  --bd-color: #dce0ea;
  --bd-rad: 10px;
  --bg-color: hsla(223, 24%, 89%, 0.2);
  
  --gap-l: 1.25rem; // 20px
  --gap-s: 5px;

  --transition-time: 300ms;

}